* {
  margin: 0;
}

body{
  display: flex;
  background-color: #1f1f3d;
}
/* navbar */
.navbar {
  font-family: "Open Sans, bold";
  background-color: #1f1f3d;
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar h1, .navbar h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

.navbar h1 {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  color: #e9e9f3;
  font-size: 2vw;
}

.navbar h2 {
  color: #bfbfdd;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.5vw;
}

hr {
  border-width: 3px;
  border-color: #353567;
}

.show-ideas {
  color: #e9e9f3;
  background-color: #5356a4;
  margin: 10px 10px 10px 10px;
  padding: 15px;
  font-weight: bolder;
  font-size: 1.5vw;
}

/*  main content   */
.main-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #a9aad2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* form boxs */
.form-box {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  margin: 3vh 0 8vh;;
}

/* form innner content css */
.title-input, .save-button, .save-button, .body-input {
  width: 40vw;
  height: 40px;
  margin-bottom: 20px;
  border: 2.5px solid;
  border-color: #5356a4;
}

.form-box h3{
  align-self: baseline;
  font-family: "Open Sans, light";
  color: #5356a4;
  font-size: 20px;
  font-weight: bold;
}

.body-input {
  height: 80px;
}

.save-button {
  width: 40vw;
  font-weight: bolder;
  font-size: 20px;
  color: #e9e9f3;
  background-color: #35356c;
}

.save-button:hover{
  cursor: pointer;
}

.search-img {
  width: 2vw;
  height: 22px;
  background-color: #35356c;
  padding: 10px;
  border: 2.5px solid;
  border-right: none;
  border-color: #5356a4;
}

.search-input {
  width: 35.5vw;
  height: 40px;
  margin-bottom: 20px;
  border: 2.5px solid;
  border-color: #5356a4;
  color: #a9aad2;
  padding-left:10px;
}

.searchimg-section {
  display: flex;
  flex-wrap: wrap;
}

/*saved ideas section*/
.idea-box-container {
  background-color: #eaeaf4;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 60vh;
}

.comment-img, .star, .delete, .star-active{
  width: 35px;
}

/* mini-boxes css */
.mini-idea-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 300px;
  height: 340px;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #fff;
  border: #1f1f3d solid;
}

/*add css to innerhtml of mini-box */
.header-mini-box {
  border-bottom: #1f1f3d solid;
  display: flex;
  justify-content: space-between;
  background-color: #1f1f3d;
}

.header-mini-box, .comment-section {
  display: flex;
  align-items: center;
  width: 300px;
}

.mini-body-content {
  font-size: 22px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 15px;
}

.mini-body-content h1 {
  margin-bottom: 20px;
  margin-top: 5px;
  color: #1f1f3d;
}

.comment-section h5 {
  font-size: 16px;
  color: #e9e9f3;
}

.comment-section {
  border-top: #1f1f3d solid;
  background-color: #5356A4;
}

/* js css */
.lighter-color {
  width: 40.7vw;
  font-weight: bolder;
  font-size: 20px;
  color: #e9e9f3;
  background-color: #8181ca;
}

.lighter-color:hover {
  cursor: default;
}
